.input {
	/*width: 80%;*/
	outline: 0px;
	border: none;
}

input{
	outline: 0px;
	border: none;
	color : rgba(0,0,0,.87);
}

.wrapper {
	width: 600px;
	
}

.fa-search{
	/*position: absolute;*/
	margin-left: 8px;
	margin-bottom: 6px;
	color: gray;
	font-size: 0.8rem;
}

.fa-times{
	/*position: absolute;*/
	margin-right: 8px;
	margin-bottom: 6px;
	color: gray;
	font-size: 0.8rem;
}

.searchbar{
	border: 0.1rem solid lightgray;
	border-radius: 0.95rem;
}


input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}